<%= form_for([@event, comment], data: { turbo: false }) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: comment} %>
  
  <div class="buffer-bottom-forms">
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <% unless user_signed_in? %>
        <div class="form-group">
          <%= f.label :user_name %>
          <%= f.text_field :user_name, class: 'form-control' %>
        </div>
    <% end %>
 </div>
  <div class="actions">
    <%= f.submit I18n.t('button.send'), class: 'btn btn-primary' %>
  </div>
<% end %>
