<h1>Доступ только по пин-коду</h1>
<%= form_for(@event, method: 'post', data: { turbo: false } ) do |f| %>
  <div class="form-group">
    <div class="buffer-bottom">
      <%= label 'Пин-код', :pincode %>
      <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
    </div>
    <div class="buffer-bottom">
      <%= f.submit I18n.t('button.save'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= link_to 'На главную', events_path %>