<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{asset_path('event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>
            <h4><small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small></h4>
            <p><%= @event.description %></p>
          </div>

          <div class="buffer-top">
            <% if current_user == @event.user %>
              <%= link_to 'Изменить', edit_event_path(@event),
                class: 'btn btn-primary' %>
              
              <%= button_to 'Удалить', event_path(@event), method: :delete,
                form: {data: {turbo_confirm: "Вы точно хотите удалить это меропирятие?"}},
                class: 'btn btn-dark' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
