<div class="event">
  <div class="event-info row mb-4">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{url_for(event_photo(@event))})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l(@event.datetime, format: :short) %></h3>
            <h3><small><%= link_to @event.address,
                "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>
          
          <% if current_user_can_edit?(@event) %>
            <div class="row justify-content-start">
              <div class="col-auto my-3">
                <%= link_to I18n.t("button.edit"), edit_event_path(@event),
                  class: 'btn btn-primary me-1' %>
              </div>
              <div class="col-auto my-3">
                <%= button_to I18n.t("button.delete"), event_path(@event),
                  method: :delete, form: { data: { turbo_confirm: I18n.t(:delete_message) }},
                  class: 'btn btn-danger ms-1' %> 
              </div> 
            </div>                     
          <% end %>
        </div>        
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-8">
      <div class="row">
        <% if @event.photos.exists? %>
          <h4 class="text-center"><small>Photo:</small></h4>
          <div class="event-gallery">
            <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %> 
          </div>
        
          <% end %>
      </div>
      <div>
        <% if current_user %>
          <%= render partial: 'photos/form', 
            locals: {photo: @new_photo || @event.photos.build} %>
        <% end %>
      </div>
      <div class="event-comments mt-3">
        <h4 class="text-center"><small>Написать комментарий:</small></h4>
        <%= render partial: 'comments/form',
           locals: { comment: @new_comment || @event.comments.build } %>
        <div class="mt-5">
          <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="event-owner">
        <h4 class="text-center"><small>Зовет:</small></h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <% if @event.subscriptions.present? %>
        <div class="event-subscriptions">
        <h4 class="text-center"><small>Пойдут:</small></h4>
          <div>
            <p>
              <%= render partial: 'subscriptions/subscription',
                collection: @event.subscriptions.except(@new_subscription) %>
            </p>
          </div>
        </div>
      <% end %>
      <% unless current_user == @event.user %>
        <div class="event-subscription-form">
          <div>
            <%= render partial: 'subscriptions/form',
             locals: { subscription: @new_subscription || @event.subscriptions.build } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div id="map" data-address="<%= @event.address %>" style="width: 100%; height: 400px;"></div>
  </div>
</div>
