<h1><%= I18n.t('controllers.event_mailer.photo.title') %></h1>

<p><%= I18n.t('controllers.event_mailer.photo.author') %>: <strong><%= @photo.user.name %></strong></p>

<hr/>

<%= I18n.t('controllers.event_mailer.photo.event') %>

<h3><%= @photo.event.title %></h3>

<%= I18n.t('controllers.event_mailer.photo.datetime') %>

<h4><%= l @photo.event.datetime %></h4>

<%= I18n.t('controllers.event_mailer.photo.owner') %>

<h4><%= @photo.event.user.name %></h4>
<br/>

<%= image_tag (@photo.photo.url) %>
